@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* ---------------------------------------Background Colours */

.bg-home-welcome {
  background-color: #0c0c0aed;
}

.bg-color-links {
  background-color: rgb(204, 186, 163);
}

.bg-home-links-top {
  background-color: #008150;
}

.bg-home-links-bottom {
  background-color: #e3001d;
}

.scroll-down {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.content-break {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.tag-border-green,
.tag-border-red {
  border-top: 15px solid #008150;
  border-bottom: 15px solid #008150;
  border-right: 15px solid #ba6f58;
  transition: 0.7s all ease-in;
}

.tag-border-red {
  border-left: 15px solid #ba6f58;
}

/* ----------------------------------------Text */
.header-text,
.intro-text {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #ffffff8a;
  letter-spacing: 15px;
  text-align: center;
  text-transform: capitalize;
}

.intro-text {
  color: #e00606ab;
  letter-spacing: 4px;
}

.signature {
  font-size: 1.3rem;
  color: #e00606;
}

body {
  background-color: rgba(0, 0, 0, 0.945);
}

.home-links {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* --------------------------------------- To be sorted */
/* -----------------------------------------Picture formatting */
.autavia-logo,
.link-logo,
.monaco-logo,
.carrera-logo,
.aquaracer-logo,
.formula_one-logo {
  background: url("/tag-project/assets/images/autavia.png");
  background-color: black;
  background-position: center;
  background-repeat: round;
  background-size: contain;
  min-height: 360px;
}
.monaco-logo {
  background: url("/tag-project/assets/images/monaco.png");
}
.aquaracer-logo {
  background: url("/tag-project/assets/images/aquaracer.png");
}
.link-logo {
  background: url("/tag-project/assets/images/link-men.png");
}
.formula_one-logo {
  background: url("/tag-project/assets/images/f1.png");
}
.carrera-logo {
  background: url("/tag-project/assets/images/carrera.png");
}

.home-images {
  transform: translateY(-8%);
}

.autavia-link {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #e4dabd;
  overflow: hidden;
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #a94f34;
}

/* --------------------------------------------------------------- Product pages */
.watch-header {
  background-color: black;
  opacity: 0.9;
}

.info-navbar {
  background-color: #0c0c0aed;
  min-height: 10vh;
  border-top: 0px;
  transition: 0.7s all ease-in;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  list-style-type: none;
  border-right: 15px solid #ba6f58;
}

.info-navbar a {
  font-family: Montserrat, sans-serif;
  color: #e4dabd;
}

.content-area {
  width: 100%;
  height: 470px;
  border-top: 15px solid #008150;
  padding-left: 2vh;
  padding-right: 2vh;
  display: flex;
  flex-flow: column;
}

.content-area h2 {
  margin-top: 3vh;
  margin-bottom: 0;
}

.content-area p {
  font-size: 1.6vw;
  line-height: 5vh;
}

p {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  color: #e00606ab;
  letter-spacing: 4px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

.product-info-text p {
  text-align: left;
  color: #008150;
  padding-left: 2vh;
  flex: 1;
}

/* --------------------------------------------------------------------- Mobile Users */

@media (max-width: 766px) {
  .header-text h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #008150;
  }

  .header-text p {
    color: #e00606ab;
    font-size: 1.1rem;
  }

  /* ----------------------------------------- Making home screen links mobile friendly*/
  .autavia-link {
    height: 250px;
    width: 250px;
    border: 5px solid #e4dabd;
    overflow: hidden;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #a94f34;
    margin-left: auto;
    margin-right: auto;
  }

  .home-links {
    margin-top: 1rem;
  }

  /* ----------------------------------------- Making product picture central for mobile */
  .autavia-logo,
  .aquaracer-logo,
  .monaco-logo,
  .carrera-logo,
  .formula_one-logo,
  .link-logo {
    background-repeat: no-repeat;
  }

  .watch-header {
    border-left: none;
    border-right: none;
  }

  /* --------------------------------------- Removing desktop nav bar for mobile (to replace with mobile nav)  */
  .info-navbar {
    display: none;
  }

  .content-area {
    border-top: 15px solid #ba6f58;
    border-left: none;
    border-right: none;
    height: 100%;
  }

  /* ----------------------------------------- Smaller font size for mobile */
  .content-area .header-text {
    font-size: 1.7rem;
    color: #008150;
  }

  .content-area p {
    font-size: 1.1rem;
  }

  /*--------------------------------------------Mobile Nav Bar */

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #000000db;
    overflow: auto;
    white-space: nowrap;
    height: 3rem;
    -webkit-overflow-scrolling: touch;
  }

  .cards {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    color: #941d1c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #000000;
    color: #008150;
    height: 100%;
  }

  /* -------------------------------------------Remove right and left border on mobile */

  .tag-border-red {
    border-right: none;
    border-left: none;
  }
}

@media (min-width: 765px) {
  .topnav {
    display: none;
  }
}
